form.odoo---custom-form-box label {
    font-weight: normal;
}

/*
.warning{
    margin-left: -26px !important;
    justify-content: space-evenly !important;
    border-color: red ;
    font-size:12px !important;
}
*/

